
                    /* Base CSS de INDEX */ /* (Extend, mixins y maps abajo) */

.body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main ."
    "footer footer footer";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 0.5fr 4.4fr 0.1fr;
    width: 100vw;
    height: 100vh;
    background-image: url(Assets/Contact/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

                              
                                    /* EXTEND Aplicado */
        /*Index: MAIN*/
        
.principal{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.main{
    @extend.principal;
    grid-area: main;
    grid-column: 2/3;
    flex-direction: column;
    justify-content: space-around;
    
}
.main__div{
    @extend.principal;
    justify-content: space-between;
    
}
.main__section--index{
    @extend.principal;
    flex-direction: column;

}
.main__title{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: white;
    padding-left: 10px;
    position: absolute;
    top: 80px;

}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* Keyframes */ 

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .text-focus-in-p {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

/* keyframes */

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
.main__paragraph{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    padding-left: 10px;
    position: absolute;
    top: 160px;

}
.section__social{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.main__social{
    @extend.principal;
    flex-direction: row;
    
}
.main__link{
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transition: all 2s;
}
.main__link:hover{
    transform: scale(1.5,1.5)
}


                    /* MIXIN Aplicado */

        /*Index: MAIN*/

@mixin principal ($display, $align-items, $flex-direction) {
    display: $display;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

        .main{
            @include principal(flex, center, column);
            grid-area: main;
            grid-column: 2/3;
            justify-content: space-around;
            
        }
        .main__div{
            @include principal(flex, center, column);
            justify-content: space-between;
        }
        .main__section--index{
            @include principal(flex, center, column);
            flex-direction: column;
        }
        .main__title{
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            text-align: center;
            font-size: 60px;
            color: white;
            padding-left: 10px;
            position: absolute;
            top: 80px;
        
        }
        .text-focus-in {
            -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }
        
        /* Keyframes */ 
        
         @-webkit-keyframes text-focus-in {
            0% {
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-filter: blur(0px);
                      filter: blur(0px);
              opacity: 1;
            }
          }
          @keyframes text-focus-in {
            0% {
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-filter: blur(0px);
                      filter: blur(0px);
              opacity: 1;
            }
          }
        
          .text-focus-in-p {
            -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
                    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
        }
        
        /* keyframes */
        
         @-webkit-keyframes text-focus-in {
            0% {
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-filter: blur(0px);
                      filter: blur(0px);
              opacity: 1;
            }
          }
          @keyframes text-focus-in {
            0% {
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-filter: blur(0px);
                      filter: blur(0px);
              opacity: 1;
            }
          }
          
          
        .main__paragraph{
            display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
            color: white;
            padding-left: 10px;
            position: absolute;
            top: 160px;
        
        }
        .section__social{
            display: flex;
            flex-direction: row;
            justify-content: center;
        
        }
        .main__social{
            @include principal(flex, center, column);
            flex-direction: row;            
        }
        .main__link{
            margin: 20px;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            transition: all 2s;
        }
        .main__link:hover{
            transform: scale(1.5,1.5)
        }

                    /* MAPS Aplicado */

        /*Index: MAIN*/

$map:(

    display: flex,
    align-items: center,
    flex-direction: column,        

);


.main{
    grid-area: main;
    grid-column: 2/3;
    display: map-get($display, flex);
    align-items: map-get($align-items: center);
    flex-direction: map-get($flex-direction: column);
    justify-content: space-around;    
}
.main__div{
    display: map-get($display, flex);
    align-items: map-get($align-items: center);
    flex-direction: map-get($flex-direction: column);
    justify-content: space-between;

    
}
.main__section--index{
    display: map-get($display, flex);
    align-items: map-get($align-items: center);
    flex-direction: map-get($flex-direction: column);
    justify-content: center;

}
.main__title{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: white;
    padding-left: 10px;
    position: absolute;
    top: 80px;

}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* Keyframes */ 

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .text-focus-in-p {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

/* keyframes */

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
.main__paragraph{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    padding-left: 10px;
    position: absolute;
    top: 160px;

}
.section__social{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.main__social{
    display: map-get($display, flex);
    align-items: map-get($align-items: center);
    flex-direction: map-get($flex-direction: column);
    flex-direction: row;

    
}
.main__link{
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transition: all 2s;
}
.main__link:hover{
    transform: scale(1.5,1.5)
}

